@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
section h2{
    
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 200;
    font-style: normal;
    color: inherit;
}
section{
    text-align: left;
    margin-left: 31%;
    color: inherit;
    font-family: 'Roboto',sans-serif;
}
.header{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 200;
    font-style: normal;
    color: inherit;
}
.wrapper{
    position: relative;
    overflow-x: hidden;
}
aside{
    position: fixed;
    left: 0;
    top:0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b91e3;
}
.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: left;
    height: 100%;
    flex-direction: column;
}
.menu-list a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
}
.header_module{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-left: 31%;
    margin-top: 0;
    color: #333;
}
.header_library{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-left: 31%;
    color:#1b91e3;
    margin-bottom: 0;
}
.logo{
    width: 200px;
    margin-left: 30%;
}
.hh {
    display: block;
    margin: 0px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 800;
    font-style: normal;
    color: #333;
    
}
.light {
    font-weight: 200;
}
.h2{
    color: #333;
    border-bottom: 2px solid #fd5171; /* Параметры линии под текстом */
    font-weight: bold; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
}
.p{
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    line-height: 1.7142857143rem;
    color: #333;
    margin-bottom: 1em;
}
.footer{
    overflow: hidden;
    margin: 0 5%;
}
.footer-left {
    float: left;
    width: 48%;
}
.footer-right {
    margin-left: 52%;
    text-align: right;
}
.box{
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}
.box-color{
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
}
.box-text {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    box-sizing: border-box;
    margin-top: 1rem;
}
div {
    display: block;
}
.first-ul{
    float: left;
}
.first-li{
    list-style: none;
    text-indent: -1em;
    margin-bottom: 1.5em;
    width: 10em;
}
.first-li::before{
    content: '\25CF';
    color: #1b91e3;
    padding-right: 0.5em;
}
.second-ul {
    padding-left: 2.8571428571rem;
    position: relative;
    float: left;
}
.second-li::before{
    content: url(images/marker.png);
    position: absolute;
    left: 0;
    margin-top: -8em;
    transform: scale(.7);
}
.second-li{
    text-indent: 0;
    margin-bottom: 1.5em;
    width: 10em;
    vertical-align: top;
    list-style: none;
}
.second-li::before{
    font-size: 1px;
}
ol{
    list-style-type: none;
    counter-reset:  item;
    float: left;
}
.li{
    text-indent: -1em;
    margin-bottom: 1.5em;
    width: 10em;
}
.li::before{
    content: counter(item) '. ';
    counter-increment: item;
    padding-right: 0.5em;
    color:#1b91e3;
    font-weight: bold;
    margin-left: -1em;
}
a{
    font-size: .7142857143rem;
    line-height: 1.5;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    margin-right: 2em;
}
a:hover{
    color: #fd5171;
}
.font1, .font2{
    font-weight: 300;
    font-size: 2rem;
    color: #333;
}
.font2{
    font-family: 'Montserrat', sans-serif; 
}
.font1{
    font-family: 'Roboto',sans-serif; 
}
form{
    width: 60%;
    padding: 3.9285714286rem 1.4285714286rem;
    background: #fff;
    border: 0.0714285714rem solid #f7f7f7;
    box-shadow: 0 2.5rem 3.5714285714rem -2.8571428571rem #3f5b6e;
    top: 4.5714285714rem;
    text-align: center;
    margin: 0 1.4285714286rem 0;
}
.common-text{
    font-size: 1rem;
    line-height: 1.7142857143rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 0 2.2857142857rem;
    max-width: 45rem;
    margin: 0 auto;
}
.button-one{
    font-family: 'Montserrat', sans-serif; 
    color: #fff;
    font-weight: 800;
    font-size: .7142857143rem;
    line-height: 1.16;
    letter-spacing: .1em;
    position: relative;
    top: 0;
    white-space: nowrap;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.2857142857rem 1.7857142857rem;
    border-radius: 0.2142857143rem;
    border: 1px solid transparent;
    transition: all .175s ease-out;
}
.button-one{
    background: #1b91e3;
    border-color: #1b91e3;
}
.button-one:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #acd7f5;
}
.button-one:active{
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.25), 1px 1px 5px #acd7f5;
}
.button-two{
    transition: all .175s ease-out; /* анимация поворота */
    transform-style: preserve-3d; /* поддержка 3D */
    min-width: auto;
    position: absolute;
    perspective-origin: center; /* с какой точки смотрим на объект */
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.button-two:hover{
    transform: rotateX(90deg);
    transform-origin: 50% 50% 28px;
}
.side {
    font-weight: 800;
    font-size: .7142857143rem;
    line-height: 1.16;
    letter-spacing: .1em;
    top: 0;
    white-space: nowrap; /* запретить перенос внутри текста */
    text-transform: uppercase; /* заглавный регистр */
    padding: 1.2857142857rem 1.7857142857rem; /* расстояние до рамки */
    color: #fff;
    position: absolute;
    display: block; 
    border-radius: 0.2142857143rem; /* углы рамки */
    border: 1px solid transparent; /* границы рамки */
    position: absolute;
    font-family: 'Montserrat', sans-serif; 
    background: #fd5171;
    border-color: #fd5171;
}
.bottom {
    transform: translateY(22px) rotateX(90deg) rotateZ(180deg) rotateY(180deg); 
}
.bottom:hover, .front:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #fd517173;
    border-color: #fd2e54;
    background-color: #fd385c;
}
.front {
    transform: translateZ(22px);
}
.row{
    position: relative;
    display: block;
    width: 60%;
}
input{
    background: #fff;
    color: #333;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.row input, .row textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 1.0714285714rem 0;
    outline: 0;
    position: relative;
    border-color: transparent;
    border-bottom: 0.0714285714rem solid #ccc;
    background: #fff;
    color: #333;
    min-height: 3.5714285714rem;
    max-height: 14.2857142857rem;
    margin-bottom: 0.7142857143rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.row input:focus, .row textarea:focus{
    border-bottom-color: #1b91e3;
}
.row label{
    display: block;
    transition: 0.5s;
    color: #333;
    top: 1.0714285714rem;
    left: 0;
    cursor: text;
    line-height: 1rem;
    position: absolute;
}
.row input:focus + label, 
.row input:valid + label,
.row textarea:focus + label, 
.row textarea:valid + label { 
    font-size: .7142857143rem;
    top: -0.3571428571rem;
    color: #999;
    visibility: visible;
}
option, select{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    background: #fff;
    color: #333;
    padding: 1.0714285714rem 0;
}
select{
    outline: 0;
    border-color: transparent;
    border-bottom: 0.0714285714rem solid #ccc;
}