@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;800&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
section h2{
    
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 200;
    font-style: normal;
    color: inherit;
}
section{
    text-align: left;
    margin-left: 31%;
    color: inherit;
    font-family: 'Roboto',sans-serif;
}
.header{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 200;
    font-style: normal;
    color: inherit;
}
.wrapper{
    position: relative;
    overflow-x: hidden;
}
.menu{
    position: fixed;
    left: 0;
    top:0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b91e3;
}
.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: left;
    height: 100%;
    flex-direction: column;
}
.menu-list a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
}
.header_module{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-left: 31%;
    margin-top: 0;
    color: #333;
}
.header_library{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-left: 31%;
    color:#1b91e3;
    margin-bottom: 0;
}
.logo{
    width: 200px;
    margin-left: 30%;
}
h1 {
    display: block;
    margin: 0px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.15;
    font-weight: 800;
    font-style: normal;
    color: #333;
    font-size: 4.5714285714rem;
}
.light {
    font-weight: 200;
}
.h2{
    color: #333;
    border-bottom: 2px solid #fd5171; /* Параметры линии под текстом */
    font-weight: bold; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
}
.p{
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    line-height: 1.7142857143rem;
    color: #333;
    margin-bottom: 1em;
}
.footer{
    overflow: hidden;
    margin: 0 5%;
}
.footer-left {
    float: left;
    width: 48%;
}
.footer-right {
    margin-left: 52%;
    text-align: right;
}
